.mainIconFrag{
    height: auto;
    width: auto;
    scale: 0.4;
    z-index: -5;
    position: absolute;
}
h1{
    margin: 5px;
}
#mainDetails{  /* initially shows 1st part of sign up - core details */
    display: block;
}
#contactDetails{ /* initially hides 2nd part of sign up - contacts */
    display: none;
}
.contactInput{ /* defines style for an input field for emergency contacts */
    border-width: 1.5px;
    margin-top: 5px;
    transform: translate(20%, 0);
}
.contactNameInput{ /* positions name input for emergency contact */
    margin-top: 10px;
}
#contactControl{ /* defines layout for contacts */
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width:300px){ /* based on width re-organises page layout to add responsiveness */
    #addContactBtn{
        position: absolute;
        left: 150px; 
    }
    #removeContactBtn{
        position: relative;
        right: 25px;
    }
    #contactControl{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        text-align: center;
        width: 400px;
        height: 50px;
        margin-left: 0px;
        margin-right: 0px;
        transform: translate(-35px, 0);
    }
}



#sec{
    transform: translate(5px, 0px);
}

