<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/logo/t-icon.png"> <!-- webpage icon -->
    <link rel="stylesheet" href="/css/global.css"> <!-- linking general CSS files-->
    <link rel="stylesheet" href="/css/cc.css"> 
    <script src="/js/global.js" defer></script> <!-- linking general JS scripts -->
    <script src="/js/cc.js" defer></script>
    <script src="https://kit.fontawesome.com/69e3c818f0.js" crossorigin="anonymous"></script> <!-- fontawesome styles link for icons-->
    <title>HomeShield Hub</title> <!-- webpage title -->
</head>
<body>
    <nav class="headerBar"> <!-- define main navigation bar -->
        <div class="headerContents">
            <img src="/media/logo/svgs/zoomed-text+icon.svg" 
            class="headerLogo" id="mainHeadLogo" data-readout="HomeShield"
            onclick="location.href='/control-centre'"
            > <!-- logo image in header to redirect to control centre -->
            <div class="rightShift"> <!-- div to position the following headers on the right side of the nav bar-->
                <button id="manageDevicesButton"
                class="linkButtonStyle hItem noUnderline"
                onclick="location.href='/devices'">Devices</button> <!-- header to device manager page-->
                <button id="manageAccountButton" 
                class="linkButtonStyle hItem noUnderline"
                onclick="location.href='/account'">Account</button> <!-- header to account manager page-->
                <button id="logoutButton"
                class="linkButtonStyle hItem"
                onclick="logout()">Logout</button> <!-- link to logout-->
            </div>
        </div>
    </nav>
    <div id="mainContainer">
        <%- include(`./fragments/${mainFragmentFile}`) %>  
    </div>
    
</body>
</html>