<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/logo/t-icon.png"> <!--webpage icon-->
    <link rel="stylesheet" href="css/global.css"> <!-- import CSS scripts-->
    <link rel="stylesheet" href="css/login.css">
    <script src="js/global.js" defer></script> <!--import client JS scripts-->
    <script src="js/phoneVerif.js" defer></script>
    <title>HomeShield Hub</title> <!-- page title -->


    <link rel="stylesheet" href="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/css/bootstrap-select-country.min.css" />  

    
    <script src="//cdn.tutorialjinni.com/jquery/3.6.1/jquery.min.js" defer></script>
    <script src="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js" defer></script>
    <!--
    <script src="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/js/bootstrap-select-country.min.js" defer></script>
    -->
</head>
<body>
    <div class="centreXY ttb">  <!-- main central DIV -->
        <object data="media/logo/svgs/zoomed-text+icon.svg" class="midPageLogo"> </object> <!-- logo -->
        <h1 class="pageHeading">Authenticate Phone</h1> <!-- page heading -->
        
        <div id="nameEntry" class="ttb">
            <label id="nameLbl" class="inputLabelStyle">Name:</label>
            <input id="nameInp" class="inputFieldStyle">          
        </div>

        <div id="phoneEntry" class="ttb">
            <label id="phoneLbl" class="inputLabelStyle">Phone Number:</label>
            <div class="phone-input-container">
                <select id='cpick' class="selectpicker countrypicker" onchange="handleCountryChange()" data-flag="true"></select>
                <input id="phoneInp" type="tel" class="inputFieldStyle">
            </div>              
        </div>

       
        <div class="ttb"> 
            <button id="call" type="submit" class="mainButtonStyle" onclick="submitDetails('call')">Call me</button>
            <button id="text" type="submit" class="mainButtonStyle" onclick="submitDetails('text')">Text me</button>
        </div>
    </div>
    
</body>
</html>
