<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/media/logo/t-icon.png"> <!--icon-->
    <link rel="stylesheet" href="css/global.css"> 
    <link rel="stylesheet" href="css/register.css"> 
    <script src="js/global.js" defer></script> <!--js file used globally across web app-->
    <script src="js/register.js" defer></script> <!--js file specifically for register.ejs-->
    <title>HomeShield Hub</title> <!--page title-->
    <script src="https://kit.fontawesome.com/69e3c818f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="mainDetails" class="centreXY ttb"><!--div containing logo, heading, and details-->
        <object data="media/logo/svgs/zoomed-text+icon.svg" class="midPageLogo logoClick"> </object>
        <h1 class="pageHeading">Create an account</h1> <!--page heading-->
        <div id="nameEntry" class="ttb"> <!--Input area for name-->
            <label id="nameLbl" class="inputLabelStyle">Name:</label>
            <input id="nameInp" class="inputFieldStyle" name="name">
        </div>
        <div id="emailEntry" class="ttb"> <!--Input area for email address-->
            <label id="emailLbl" class="inputLabelStyle">Email Address:</label>
            <input id="emailInp" class="inputFieldStyle" name="email">
        </div>
        <div id="passwordEntry" class="ttb"> <!--Input area for password-->
            <label id="passwordLbl" class="inputLabelStyle">Password:</label>
            <input id="passwordInp" class="inputFieldStyle" type="password" name="password">
        </div>
        <div id="cpasswordEntry" class="ttb"> <!--Input area to confirm password-->
            <label id="cpasswordLbl" class="inputLabelStyle">Confirm Password:</label>
            <input id="cpasswordInp" class="inputFieldStyle" type="password" name="password">
        </div>
        <div class="ttb"> <!--Buttons to move onto next DIV or to login page (linked to JS function)-->
            <button id="loginBtn" class="linkButtonStyle" onclick="signIn()">Already have an existing account?</button>
            <button id="moveOnBtn" onclick="moveForward()" class="mainButtonStyle">Next<i class="iconSpaceL fa-solid fa-arrow-right"></i></button>
        </div>    
    </div>
    <div id="contactDetails" class="centreXY ttb"><!-- second part of sign up process -->
        <object id="secondPageLogo" data="media/logo/svgs/zoomed-text+icon.svg" class="midPageLogo logoClick"> </object>
        <h1 id="sec" class="pageHeading">Set emergency contacts</h1> <!-- new page heading -->
        <div id="contactsHolder" class="ttb"> <!-- empty div where inputs for emergency contacts will be added-->

        </div>
        <div id="contactControl" class="ttb"> <!-- buttons to show or hide input fields for emergency contacts -->
            <button id="addContactBtn" class="mainButtonStyle addFieldsBtn" onclick="addContact()"><i class="iconSpaceR fa-solid fa-plus"></i>Add</button> 
            <button id="removeContactBtn" class="mainButtonStyle addFieldsBtn" onclick="removeContact()"><i class="iconSpaceR fa-solid fa-minus"></i>Remove</button>
        </div>
        <div class="ttb"> <!-- buttons to either go back to first part or to submit details and create account-->
            <button id="backBtn" class="linkButtonStyle" onclick="moveBack()">Back</button>
            <button id="submitBtn" type="submit" onclick="signUp()" class="mainButtonStyle">Submit</button>
        </div>    

    </div>
</body>
</html>